/* general styling for the list-content container goes here */

div.list-content {
  padding: 32px;
}

div.list-content div.new-entry-form, div.table-list {
  background-color: white;
  border: 0;
}

/* styling the header title */

div.list-content h3 {
  font-weight: 550;
  color: rgba(100,100,100,0.9);
  margin: 32px 0;
  line-height: 24px;
  font-size: 24px;
}
