button {
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

div.wrap-container {
  display: flex;
  justify-content: center;
}

div.main-container {
  width: 976px;
  background-color: rgba(235,235,235,0.9);
}

div.header {
  box-sizing: border-box;
  height: 96px;
  padding: 32px;
  background: url('./static/layout.png');
  background-size: cover;
}
